.header{
  background-color: $color-lm-main;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  &__kitchen {
    background-color:$color-lm-main;
    color:$color-lm-secondary;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px; 
    width: 100%;
    display: flex; 
    align-items: center;
    margin-bottom: 5px;
    padding-left: 10px;
    @include fontsizetoem(40);
    font-weight: 700;
  } 
  &__search{
    display: flex;
    background-color: $color-white;
    padding: 10px;
    gap: 10px;
    &__glass {
      width: 20px;
      height: 20px;
    }
    &__searchbar {
      width: 100%;
      border: none;
      &::placeholder{
        color: black;
        opacity: 50%;
      }
    }
  }
}
.cart {
    display: flex;
    background-color:$color-lm-main;
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding: 10px;
    .txtcart {
      display: flex;
      padding-left: 30px;
      align-items: center;
      color: $color-lm-secondary;
      @include fontsizetoem(30);
      font-family: 'Lato', sans-serif;
    }
}