@import "./foodcard";
@import"./_navbar";
@import"./footer";
@import "./cart";
@import "./dark-mode";
body{
    position: relative;
}
main{
    margin-top: 250px;
    @media screen and (min-width:1280px) {
        margin-top: 180px ;
        display: grid;
        grid-template-columns: 1fr 380px;
    }
}
