@media screen and  ( max-width: 800px){
      
    

.footer {
    margin:auto;
    background-color: $color-dark-orange;
    width: 100%;
    display:flex;

.footer__list
    {
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 22px;
       
        li a{ 
            color: darkblue;
            text-decoration: none;
            text-transform: capitalize;
            }
    }
}
}