//color global
$color-white:#fff;		    //white


// colors
$color-lm-main: #32A89C;	//light orange
$color-lm-accent: #eb5028;		//dark orange
$color-lm-secondary:#f7f7f7;		//light blue

// colors dark mode

$color-dm-lightgrayblue: #A6C6ED;
$color-dm-grayblue: #6A7D99;
$color-dm-nightblue : #212134;
$color-dm-gray : #55596C;
$color-dm-aqua: #7BD2FF;
